body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-image: url(clouds.png);
  background-repeat: repeat;
}
#header {
	background-color:black;
    color:white;
    padding:5px;
  	width: 480px;
  	margin: 20px auto 20px auto;
}
h1{
	color: green; font-style:italic;
}
h4{
	color: green;
}
p#p1 {
	color: orange;
}
p {
	font-style: italic;
}
